
.DS_Store
Chapter 2/.ipynb_checkpoints/Chapter 2 - End-to-End Machine Learning Project-checkpoint.ipynb
Chapter 2/.ipynb_checkpoints/Chapter 2 - Exercises-checkpoint.ipynb
Chapter 3/.ipynb_checkpoints/Chapter 3 - Classification-checkpoint.ipynb
Chapter 3/.ipynb_checkpoints/Chapter 3 - Exercises-checkpoint.ipynb
Chapter 3/.ipynb_checkpoints/spam-classifier-hands-on-ml-checkpoint.ipynb
Chapter 4 - Training Models/.ipynb_checkpoints/Chapter 4  - Training Models-checkpoint.ipynb
Chapter 4 - Training Models/.ipynb_checkpoints/Chapter 4 - Exercises-checkpoint.ipynb
Chapter 4 - Training Models/.ipynb_checkpoints/Chapter 4 - Exercises - Question 12-checkpoint.ipynb
Chapter 5 - Support Vector Machines/.ipynb_checkpoints/Chapter 5 - Support Vector Machines-checkpoint.ipynb
Chapter 5 - Support Vector Machines/.ipynb_checkpoints/Chapter 5 - Exercises-checkpoint.ipynb
Chapter 5 - Support Vector Machines/.ipynb_checkpoints/Chapter 5 - Exercises - Questions 8 9 10-checkpoint.ipynb
Chapter 6 - Decision Trees/.ipynb_checkpoints/Chapter 6 - Decision Trees-checkpoint.ipynb
Chapter 6 - Decision Trees/.ipynb_checkpoints/Chapter 6 - Exercises-checkpoint.ipynb
Chapter 6 - Decision Trees/.ipynb_checkpoints/Chapter 6 - Exercises - Question 7 8-checkpoint.ipynb
Chapter 7 - Ensemble Learning and Random Forest/.ipynb_checkpoints/Chapter 7 - Ensemble Learning and Random Forest-checkpoint.ipynb
Chapter 7 - Ensemble Learning and Random Forest/.ipynb_checkpoints/Chapter 7 - Exercises-checkpoint.ipynb
Chapter 7 - Ensemble Learning and Random Forest/.ipynb_checkpoints/Chapter 7 - Exercises - Questions 8 9-checkpoint.ipynb
Chapter 8 - Dimensionality Reduction/.ipynb_checkpoints/Chapter 8 - Dimensionality Reduction-checkpoint.ipynb
Chapter 8 - Dimensionality Reduction/.ipynb_checkpoints/Chapter 8 - Exercises-checkpoint.ipynb
