
.DS_Store
Chapter 2/.ipynb_checkpoints/Chapter 2 - End-to-End Machine Learning Project-checkpoint.ipynb
Chapter 2/.ipynb_checkpoints/Chapter 2 - Exercises-checkpoint.ipynb
Chapter 3/.ipynb_checkpoints/Chapter 3 - Classification-checkpoint.ipynb
